{% extends 'base.html' %}

{% block content %}
<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Hi <span class="color-b">{{ user | capfirst }},</span></h1>
              <span class="color-text-a">Below are all staff registered on the MariSeco website.</span> <br>
              <span class="color-text-a">This is for the purpose of security. If you see any suspicious account kindly contact the admin!</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'profile' %}">Back to Your Profile</a>
                </li>
                <li class="breadcrumb-item active " aria-current="page">
                  All Staff
                </li>
              </ol>
            </nav>
          </div>
        </div>
    </section>

<div class="container">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Our Registered Staff</h5>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium">Username</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Contact</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Registered</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Last Seen</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for user in users.all %}
                    <tr>
                      <td>
                          <h5 class="font-medium mb-0">{{ user.username | capfirst }}</h5>
                      </td>
                      <td>
                          <span class="text-muted">{{ user.email }}</span><br>
                      </td>
                      <td>
                          <span class="text-muted">{{ user.date_joined }}</span><br>
                      </td>
                      <td>
                        <span class="text-muted">{{ user.last_login }}</span>
                      </td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
                
            </div>
        </div>
</div>
</div>
        </div>
{% endblock %}