{% extends 'base.html' %}

{% block content %}
<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Contact US</h1>
              <span class="color-text-a">Reach out to us through our Contact Form or Give us a call!</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Contact
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <div class="contact-map box">
                </div>
            </div>
            <div class="col-sm-12 section-t8">
                <div class="row">
                <div class="col-md-7">
                    <form method="post" role="form" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <input type="text" name="sender_name" class="form-control form-control-lg form-control-a" placeholder="Your Name" required>
                        </div>
                        </div>
                        <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <input name="sender_mail" type="email" class="form-control form-control-lg form-control-a" placeholder="Your Email" required>
                        </div>
                        </div>
                        <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <input type="text" name="sender_subject" class="form-control form-control-lg form-control-a" placeholder="Subject" required>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="sender_message" class="form-control" cols="45" rows="8" placeholder="Message" required></textarea>
                        </div>
                        </div>
                        <div class="col-md-12 my-3">
                        
                        </div>

                        <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-a">Send Message</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col-md-5 section-md-t3">
                    <div class="icon-box section-b2">
                    <div class="icon-box-icon color-b">
                        <span class="bi bi-envelope"></span>
                    </div>
                    <div class="icon-box-content table-cell">
                        <div class="icon-box-title">
                        <h4 class="icon-title color-b">Say Hello</h4>
                        </div>
                        <div class="icon-box-content">
                        <p class="mb-1">Email.
                            <span class="color-a">info@mariseco.co.ke</span>
                        </p>
                        <p class="mb-1">Phone.
                            <span class="color-a">+(254) 723381437</span>
                        </p>
                        </div>
                    </div>
                    </div>
                    <div class="icon-box">
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>

{% endblock %}