{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<body class="bg-dark bg-gradient text-light">

<section class="intro-single">
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endif %} 

      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single text-light">Control Panel</h1>
              <span class="color-text-a text-light">This page is only visible to the Admins.</span><br>
              
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item color-b">
                  <a href="{% url 'profile' %}">Back to Profile</a>
                </li>
                <li class="breadcrumb-item active text-light" aria-current="page">
                  Control Panel
                </li>
              </ol>
            </nav>
          </div>
        </div>
    </section>

    <div class="container">
    <div class="row">
    <div class="col-12">
    <p> All Registered Users are <span class="color-b">{{ user_count }}</span></p>
    <hr>
      <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Last Login</th>
      <th scope="col">Date Registered</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users.all %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.last_login | naturaltime }}</td>
      <td>{{ user.date_joined | naturaltime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
    </div>
    <div class="col-12">
    <p>Comments Waiting for Approval are <span class="color-b">{{ comment_count }}</span></p>
    <hr>
    <table class="table table-success table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Commenter Name</th>
      <th scope="col">Commented Blog</th>
      <th scope="col">Comment</th>
      <th scope="col">Email</th>
      <th scope="col">Time Commented</th>
    </tr>
  </thead>
  <tbody>
    {% for pending_comment in pending_comments %}
    <tr>
      <td>{{ pending_comment.name }}</td>
      <td>{{ pending_comment.blog }}</td>
      <td>{{ pending_comment.comment }}</td>
      <td>{{ pending_comment.email }}</td>
      <td>{{ pending_comment.created_on | naturaltime }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <p>Head over to the admin interface to approve comments.</p>
</table>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-5">
    <p>Change Web Content</p>
    <hr>
    <p>Content posted here will appear in the home page</p>
    <hr>
    <form method="POST" action="{% url 'update_web_content' %}">
    {% csrf_token %}
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="Principles" name="principles" aria-label=".form-control-sm">
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="Location" name="location" aria-label=".form-control-sm">
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="Mission" name="mission" aria-label=".form-control-sm">
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="Form 1 Motto" name="form_one_stream" aria-label=".form-control-sm">
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="Form 2 Motto" name="form_two_stream" aria-label=".form-control-sm">
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="Form 3 Motto" name="form_three_stream" aria-label=".form-control-sm">
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="Form 4 Motto" name="form_four_stream" aria-label=".form-control-sm">
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="BOM Message" name="bom_message" aria-label=".form-control-sm">
            </div>
        </div>
      <div class="col-12">
          <button type="submit" class="btn btn-b">Change Content</button>
        </div>
    </form>
    </div>
    <div class="col-7">
    <p>Task To Do</p>
    <hr>
    <p>This can be used for remembering the article concepts needed to be published</p>
    <hr>
      <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<div class="col-12">
          <button type="submit" class="btn btn-b">Add Task</button>
    </div>
    </div>
  </div>
  </div>

</body>

{% endblock %}