{% extends 'base.html' %}

{% block content %}
<section class="intro-single">
      <div class="container">
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endif %} 
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single"> {{ user | capfirst }}'s <span class="color-b">Profile </span></h1>
              <span class="color-text-a">This is a Staff Account allowing owners to write a post Articles.</span> <br>
              <span class="color-text-a">Contact your Admin to change information concerning your Account.</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Back to Home</a>
                </li>
                <li class="breadcrumb-item active " aria-current="page">
                  {{ user | capfirst }}
                </li>
              </ol>
            </nav>
          </div>
        </div>
    </section>

    <div class="container emp-profile">
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                                        <div class="row">
                                            <div class="col-md-6 color-b">
                                                <label>Your Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.id }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 color-b">
                                                <label>Username</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user | capfirst }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 color-b">
                                                <label>First Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.first_name | capfirst }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 color-b">
                                                <label>Last Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.last_name | capfirst }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 color-b">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 color-b">
                                                <label>Date Registered</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.date_joined }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 color-b">
                                                <label>Staff Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ info.staff_level }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6 color-b">
                                        <a href="{% url 'create' %}">
                                        <button type="submit" class="btn btn-b" style="width: 250px;">Publish Blogs</button>
                                        </a>
                                        </div>
                                        <div class="col-md-6 color-b">
                                        <a href="{% url 'blog' %}">
                                        <button type="submit" class="btn btn-a" style="width: 250px;">Check Out Blogs</button>
                                        </a>
                                        </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                        <div class="col-md-6 color-b">
                                                <label>Blog written will be submitted to the admin for reviewal. Once your blog is approved it will be published to the Mariseco Community!</label>
                                        </div>
                                        <div class="col-md-6 color-b">
                                        <a href="{% url 'all_staff' %}">
                                        <button type="submit" class="btn btn-a" style="width: 250px;">View All Staff</button>
                                        </a>
                                        </div>
                                        </div>
                                        <br>
                                        <p> Account Settings</p>
                                        <hr>
                                        <div class="row">
                                        <div class="col-md-6 color-b">
                                        <a href="{% url 'deactivate' user %}">
                                        <button type="submit" class="btn btn-b" style="color: red; width: 250px;">Freeze Account</button>
                                        </a>
                                        </div>
                                        <div class="col-md-6 color-b">
                                        <a href="{% url 'delete' user %}">
                                        <button type="submit" class="btn btn-a" style="color: red; width: 250px;">Delete Account</button>
                                        </a>
                                        </div>
                                        </div>
                                        <br>
                                        <div class="col-md-12 color-b">
                                                <label>Deactivating your Account will result to a <span style="color: red;"> FREEZE! </span>You will need to contact the admin to have your account re-activated.</label>
                                        </div>
                                        <br>
                                        <div class="col-md-12 color-b">
                                                <label>Deleting your account will result to a permanent <span style="color: red;"> TERMINATION! </span>All your articles will be deleted as well!!</label>
                                        </div>
                                        <br>
                                        <div class="row">
                                        <div class="col-md-6 color-b">
                                        <a href="{% url 'logout' %}">
                                        <button type="submit" class="btn btn-b" style="width: 250px;">Sign Out</button>
                                        </a>
                                        </div>
                                        <div class="col-md-6 color-b">
                                        <a href="{% url 'edit_profile' %}">
                                        <button type="submit" class="btn btn-a" style="width: 250px;">Edit Profile</button>
                                        </a>
                                        </div>
                                        </div>
                                        <br>
                                        {% if request.user.is_superuser %}
                                        <h4>CONTROL PANEL</h4>
                                        <hr>
                                        <div class="col-md-12 color-b">
                                                <label>The <span class="text-dark"> Control Panel </span> is only visible to SUPERUSERS (ADMINS). This means that Admins can modify section(s) of the website without heading to their admin panels.</label>
                                        </div>
                                        <br>
                                        <div class="col-md-12 color-b">
                                                <label>Head over to the Control Panel <br> <i class="bi bi-arrow-down-circle-fill"></i></label>
                                        </div>
                                        <br>
                                       <div class="col-md-6 color-b">
                                        <a href="{% url 'control_panel' %}">
                                        <button type="submit" class="btn btn-b" style="width: 250px;">Control Panel</button>
                                        </a>
                                    </div>
                                    {% endif %}
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}